@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
ul, li {
	/* list-style-type: none; */
}
a {
  text-decoration: none;
}

input,button,select,textarea,button,a,a:visited,a:focus,a:active{
  outline:none;
}

html,body {
  height: 100%
}

button {
  background-color: #FFF;
  border: none;
  padding: 8px 15px;
}

/* Toast css */
.et-wrapper.info {
  top: 60px;
  font-size: 12px;
  border-radius: 50px;
  padding: 6px 30px;
  background-color: rgba(32, 160, 255, .6);
}


html[data-dpr='2'] .et-wrapper.info {
  top: 120px;
  padding: 12px 60px;
  font-size: 24px;
}


html[data-dpr='3'] .et-wrapper.info {
  top: 180px;
  padding: 18px 90px;
  font-size: 36px;
}
