* {
  margin: 0;
  padding: 0;
}
ul, li {
	/* list-style-type: none; */
}
a {
  text-decoration: none;
}

input,button,select,textarea,button,a,a:visited,a:focus,a:active{
  outline:none;
}

button {
  background-color: #FFF;
  border: none;
  padding: 8px 15px;
}