@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
ul, li {
	/* list-style-type: none; */
}
a {
  text-decoration: none;
}

input,button,select,textarea,button,a,a:visited,a:focus,a:active{
  outline:none;
}

html,body {
  height: 100%
}

button {
  background-color: transparent;
  border: none;
}
header {
  height: 40px;
  color: #FFF;
  background-color: #20A0FF;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html[data-dpr='2'] header{ 
  height: 80px;
  padding: 10px 40px;
}

html[data-dpr='3'] header{ 
  height: 120px;
  padding: 15px 60px;
}

/* Toast css */
.et-wrapper.info {
  top: 60px;
  font-size: 12px;
  border-radius: 50px;
  padding: 6px 30px;
  background-color: rgba(32, 160, 255, .6);
}

._v-content {
  position: absolute;
}

.x_panel {
  position: relative;
  padding: 0 12px;
}
html[data-dpr='2'] .et-wrapper.info {
  top: 120px;
  padding: 12px 60px;
  font-size: 24px;
}


html[data-dpr='3'] .et-wrapper.info {
  top: 180px;
  padding: 18px 90px;
  font-size: 36px;
}
